{{> header}}

<div class=" container flex justify-between mx-auto py-4 w-8/12">

    <div class="bg-red-400 basis-1/2">
        <div class="grid grid-cols-3 m-4">
            <div class=" col-span-1">
                <img src="/images/image-news.jpg" alt="">
            </div>
            <div class="col-span-2 mx-2 grid-rows-5">
                <div class=" row-span-1">time</div>
                <div class=" row-span-4 whitespace-normal">
                    <h3>
                        The Beacon là gì? Cách làm airdrop game The Beacon nhưng mà một
                    </h3>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 m-4">
            <div class=" col-span-1">
                <img src="/images/image-news.jpg" alt="">
            </div>
            <div class="col-span-2 mx-2 grid-rows-5">
                <div class=" row-span-1">time</div>
                <div class=" row-span-4 whitespace-normal">
                    <h3>
                        The Beacon là gì? Cách làm airdrop game The Beacon nhưng mà một
                    </h3>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 m-4">
            <div class=" col-span-1">
                <img src="/images/image-news.jpg" alt="">
            </div>
            <div class="col-span-2 mx-2 grid-rows-5">
                <div class=" row-span-1">time</div>
                <div class=" row-span-4 whitespace-normal">
                    <h3>
                        The Beacon là gì? Cách làm airdrop game The Beacon nhưng mà một
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class=" bg-green-400 basis-1/2">
        <div class="grid grid-cols-3 m-4">
            <div class=" col-span-1">
                <img src="/images/image-news.jpg" alt="">
            </div>
            <div class="col-span-2 mx-2 grid-rows-5">
                <div class=" row-span-1">time</div>
                <div class=" row-span-4 whitespace-normal">
                    <h3>
                        The Beacon là gì? Cách làm airdrop game The Beacon nhưng mà một
                    </h3>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 m-4">
            <div class=" col-span-1">
                <img src="/images/image-news.jpg" alt="">
            </div>
            <div class="col-span-2 mx-2 grid-rows-5">
                <div class=" row-span-1">time</div>
                <div class=" row-span-4 whitespace-normal">
                    <h3>
                        The Beacon là gì? Cách làm airdrop game The Beacon nhưng mà một
                    </h3>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 m-4">
            <div class=" col-span-1">
                <img src="/images/image-news.jpg" alt="">
            </div>
            <div class="col-span-2 mx-2 grid-rows-5">
                <div class=" row-span-1">
                    time
                </div>
                <div class=" row-span-4 whitespace-normal">
                    <h3>
                        The Beacon là gì? Cách làm airdrop game The Beacon nhưng mà một
                    </h3>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="relative overflow-x-auto container m-auto w-8/12">
    <table class="border-collapse border border-slate-500 w-full ">
       <thead>
            <tr class="text-left">
                <th class="border border-slate-600">
                    Tên
                </th>
                <th class="border border-slate-600">
                    Gọi vốn
                </th>
                <th class="border border-slate-600">
                    Hướng dẫn airdrop
                </th>
                <th class="border border-slate-600">
                    Thông tin
                </th>
            </tr>
       </thead>
       <tbody>
            <tr>
                <td class="border border-slate-700">
                    Product name
                </td>
                <td class="border border-slate-700">
                    Product name
                </td>
                <td class="border border-slate-700">
                    Product name
                </td>
                <td class="border border-slate-700">
                    Product name
                </td>
            </tr>
       </tbody>
    </table>
</div>


{{> nav}}
