<header class="pt-4">
  <div class="m-0 bg-slate-200 h-18 box-border">
    <div class="container mx-auto flex justify-between px-6">
      <!-- Logo -->
      <div class="text-2xl font-bold">
        <a href="#">NewsWebsite</a>
      </div>

      <nav class="hidden md:flex space-x-4">
        <a href="#" class="block px-2 py-2 hover:bg-slate-500">Crypto News</a>
        <a href="#" class="block px-2 py-2 hover:bg-slate-500">Airdrop</a>
      </nav>

      <button class="object-contain h-8 w-8 py-1">
        <img class="" src="/images/icons8-user-50.png" alt="" />
      </button>
    </div>
  </div>
</header>